<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="THERION.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<dataConfiguration defaultDatabase="THERION"/>-->
  <appSettings />
  <connectionStrings>
    <add name="THERION" connectionString="Data Source=;Initial Catalog=;User ID=;Password=;Connect Timeout=600" providerName="System.Data.SqlClient" />
    <add name="WS" connectionString="Data Source=;Initial Catalog=;User ID=;Password=;Connect Timeout=600" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- Configuración de IIS -->
  <system.webServer>
    <!-- Habilitamos la compresión GZIP y especificamos las cabeceras de cache a un año -->
    <!--
    
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" sendCacheHeaders="true" cacheControlHeader="max-age=31536000" dynamicCompressionDisableCpuUsage="90" staticCompressionDisableCpuUsage="90" dynamicCompressionEnableCpuUsage="0" staticCompressionEnableCpuUsage="0">
        
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" doStaticCompression="true" doDynamicCompression="true" dynamicCompressionLevel="10" staticCompressionLevel="10" />
      
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
      
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      
    </httpCompression>
    
    -->
    <!-- Especificamos que se utilice el reemplazo de la respuesta cuando se produce un error en el servidor en vez de hacer una redirección. De está forma logramos que los códigos de estado devueltos sean correctos. -->
    <httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="/error.aspx?error=404" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" subStatusCode="-1" path="/error.aspx?error=500" responseMode="ExecuteURL" />
    </httpErrors>
    <!-- Deshabilitamos el listado de directorios -->
    <directoryBrowse enabled="false" />
    <!-- Deshabilitamos la validación de la configuración en modo integrado -->
    <!-- Deshabilitamos que todos los módulos se ejecuten en todas las peticiones -->
    <modules runAllManagedModulesForAllRequests="false" />
    <!-- 
        Establecemos los tipos MIME de todos los archivos que servimos.
        IIS no sirve los archivos que desconoce su tipo MIME por seguridad.
        Establecemos la cache en un año del cliente.
    -->
    <staticContent>
      <!-- 
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
      -->
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <remove fileExtension=".mp3" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <remove fileExtension=".ttc" />
      <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".crx" />
      <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
      <remove fileExtension=".xpi" />
      <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
      <remove fileExtension=".safariextz" />
      <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
      <remove fileExtension=".flv" />
      <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
      <remove fileExtension=".f4v" />
      <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".htc" />
      <mimeMap fileExtension=".htc" mimeType="text/x-component" />
      <remove fileExtension=".vcf" />
      <mimeMap fileExtension=".vcf" mimeType="text/x-vcard" />
      <remove fileExtension=".torrent" />
      <mimeMap fileExtension=".torrent" mimeType="application/x-bittorrent" />
      <remove fileExtension=".cur" />
      <mimeMap fileExtension=".cur" mimeType="image/x-icon" />
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".txt" mimeType="application/octet-stream" />
      <remove fileExtension=".msg" />
      <mimeMap fileExtension=".msg" mimeType="application/outlook" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <!-- Establecemos la cabecera que indica que nuestra página solo puede aparecer en frames o iframes de nuestro propio dominio. -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <!-- Habilitamos la protección contra XSS en Internet Explorer. -->
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!-- Habilitamos la protección contra cambios de tipo MIME en Internet Explorer -->
        <add name="X-Content-Type-Options" value="nosniff" />
        <!-- Eliminamos la cabecera X-Powered-By -->
        <remove name="X-Powered-By" />
        <!-- Eliminamos la cabecera ETAG. Si un recurso cambia lo mejor es que cambie de URL para que se vuelva a descargar así nos ahorramos que el cliente haga una petición de consulta por cada archivo con la cabecera ETAG -->
        <add name="ETAG" value="" />
        <!-- Forzamos a que Internet Explorer use la última versión de su motor de renderizado. -->
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
    <!-- Establecemos login.aspx como el archivo por defecto de un directorio -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
        <security>
            <access sslFlags="None" />
        </security>
  </system.webServer>
  <system.web>
    <sessionState timeout="2880" />
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <!--<remove name="Documentation"/>-->
      </protocols>
    </webServices>
    <!-- <httpRuntime maxRequestLength="102400" appRequestQueueLimit="100" executionTimeout="60000"/> -->
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="65536" requestLengthDiskThreshold="24576" executionTimeout="3600" />
    <!-- 
            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los 
            tipos d datos donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
    -->
    <compilation strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
    -->
    <authentication mode="Windows">
      <forms name=".ASPXAUTH" loginUrl="login.aspx" defaultUrl="login.aspx" protection="All" timeout="60" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false">
        <credentials passwordFormat="SHA1" />
      </forms>
      <passport redirectUrl="internal" />
    </authentication>
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
-->
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <THERION.My.MySettings>
      <setting name="eCDC_eu_europa_ec_checkVatService" serializeAs="String">
        <value>http://ec.europa.eu/taxation_customs/vies/services/checkVatService</value>
      </setting>
    </THERION.My.MySettings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: C628E5AC-CAB3-4DF1-9CBD-AAB32097F052-->